# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test
.env*.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# End of https://www.toptal.com/developers/gitignore/api/node
examples/DOE/test_bo_direct_arylation/init.csv
examples/DOE/test_bo_direct_arylation/round0.csv
examples/DOE/test_bo_direct_arylation/round1.csv
examples/DOE/test_bo_direct_arylation/round10.csv
examples/DOE/test_bo_direct_arylation/round11.csv
examples/DOE/test_bo_direct_arylation/round12.csv
examples/DOE/test_bo_direct_arylation/round13.csv
examples/DOE/test_bo_direct_arylation/round14.csv
examples/DOE/test_bo_direct_arylation/round15.csv
examples/DOE/test_bo_direct_arylation/round16.csv
examples/DOE/test_bo_direct_arylation/round17.csv
examples/DOE/test_bo_direct_arylation/round18.csv
examples/DOE/test_bo_direct_arylation/round19.csv
examples/DOE/test_bo_direct_arylation/round2.csv
examples/DOE/test_bo_direct_arylation/round20.csv
examples/DOE/test_bo_direct_arylation/round21.csv
examples/DOE/test_bo_direct_arylation/round22.csv
examples/DOE/test_bo_direct_arylation/round23.csv
examples/DOE/test_bo_direct_arylation/round24.csv
examples/DOE/test_bo_direct_arylation/init.csv
examples/DOE/test_bo_direct_arylation/round0.csv
examples/DOE/test_bo_direct_arylation/round1.csv
examples/DOE/test_bo_direct_arylation/round10.csv
examples/DOE/test_bo_direct_arylation/round11.csv
examples/DOE/test_bo_direct_arylation/round12.csv
examples/DOE/test_bo_direct_arylation/round13.csv
examples/DOE/test_bo_direct_arylation/round14.csv
examples/DOE/test_bo_direct_arylation/round15.csv
examples/DOE/test_bo_direct_arylation/round16.csv
examples/DOE/test_bo_direct_arylation/round17.csv
examples/DOE/test_bo_direct_arylation/round18.csv
examples/DOE/test_bo_direct_arylation/round19.csv
examples/DOE/test_bo_direct_arylation/round2.csv
examples/DOE/test_bo_direct_arylation/round20.csv
examples/DOE/test_bo_direct_arylation/round21.csv
examples/DOE/test_bo_direct_arylation/round22.csv
examples/DOE/test_bo_direct_arylation/round23.csv
examples/DOE/test_bo_direct_arylation/round24.csv
examples/DOE/test_bo_direct_arylation/round3.csv
examples/DOE/test_bo_direct_arylation/round4.csv
examples/DOE/test_bo_direct_arylation/round5.csv
examples/DOE/test_bo_direct_arylation/round6.csv
examples/DOE/test_bo_direct_arylation/round7.csv
examples/DOE/test_bo_direct_arylation/round8.csv
examples/DOE/test_bo_direct_arylation/round9.csv
examples/DOE/test_bo_suzuki/init.csv
examples/DOE/test_bo_suzuki/round0.csv
examples/DOE/test_bo_suzuki/round1.csv
examples/DOE/test_bo_suzuki/round10.csv
examples/DOE/test_bo_suzuki/round11.csv
examples/DOE/test_bo_suzuki/round12.csv
examples/DOE/test_bo_suzuki/round13.csv
examples/DOE/test_bo_suzuki/round14.csv
examples/DOE/test_bo_suzuki/round15.csv
examples/DOE/test_bo_suzuki/round16.csv
examples/DOE/test_bo_suzuki/round17.csv
examples/DOE/test_bo_suzuki/round18.csv
examples/DOE/test_bo_suzuki/round19.csv
examples/DOE/test_bo_suzuki/round2.csv
examples/DOE/test_bo_suzuki/round20.csv
examples/DOE/test_bo_suzuki/round21.csv
examples/DOE/test_bo_suzuki/round22.csv
examples/DOE/test_bo_suzuki/round23.csv
examples/DOE/test_bo_suzuki/round24.csv
examples/DOE/test_bo_suzuki/round25.csv
examples/DOE/test_bo_suzuki/round26.csv
examples/DOE/test_bo_suzuki/round27.csv
examples/DOE/test_bo_suzuki/round28.csv
examples/DOE/test_bo_suzuki/round29.csv
examples/DOE/test_bo_suzuki/round3.csv
examples/DOE/test_bo_suzuki/round30.csv
examples/DOE/test_bo_suzuki/round31.csv
examples/DOE/test_bo_suzuki/round32.csv
examples/DOE/test_bo_suzuki/round33.csv
examples/DOE/test_bo_suzuki/round34.csv
examples/DOE/test_bo_suzuki/round35.csv
examples/DOE/test_bo_suzuki/round36.csv
examples/DOE/test_bo_suzuki/round37.csv
examples/DOE/test_bo_suzuki/round38.csv
examples/DOE/test_bo_suzuki/round39.csv
examples/DOE/test_bo_suzuki/round4.csv
examples/DOE/test_bo_suzuki/round40.csv
examples/DOE/test_bo_suzuki/round41.csv
examples/DOE/test_bo_suzuki/round42.csv
examples/DOE/test_bo_suzuki/round5.csv
examples/DOE/test_bo_suzuki/round6.csv
examples/DOE/test_bo_suzuki/round7.csv
examples/DOE/test_bo_suzuki/round8.csv
examples/DOE/test_bo_suzuki/round9.csv
examples/DOE/test_bo_aryl_amination/init.csv
examples/DOE/test_bo_aryl_amination/round0.csv
examples/DOE/test_bo_aryl_amination/round1.csv
examples/DOE/test_bo_aryl_amination/round10.csv
examples/DOE/test_bo_aryl_amination/round11.csv
examples/DOE/test_bo_aryl_amination/round12.csv
examples/DOE/test_bo_aryl_amination/round13.csv
examples/DOE/test_bo_aryl_amination/round14.csv
examples/DOE/test_bo_aryl_amination/round15.csv
examples/DOE/test_bo_aryl_amination/round16.csv
examples/DOE/test_bo_aryl_amination/round17.csv
examples/DOE/test_bo_aryl_amination/round18.csv
examples/DOE/test_bo_aryl_amination/round19.csv
examples/DOE/test_bo_aryl_amination/round2.csv
examples/DOE/test_bo_aryl_amination/round20.csv
examples/DOE/test_bo_aryl_amination/round21.csv
examples/DOE/test_bo_aryl_amination/round22.csv
examples/DOE/test_bo_aryl_amination/round23.csv
examples/DOE/test_bo_aryl_amination/round24.csv
examples/DOE/test_bo_aryl_amination/round25.csv
examples/DOE/test_bo_aryl_amination/round26.csv
examples/DOE/test_bo_aryl_amination/round27.csv
examples/DOE/test_bo_aryl_amination/round28.csv
examples/DOE/test_bo_aryl_amination/round29.csv
examples/DOE/test_bo_aryl_amination/round3.csv
examples/DOE/test_bo_aryl_amination/round30.csv
examples/DOE/test_bo_aryl_amination/round31.csv
examples/DOE/test_bo_aryl_amination/round32.csv
examples/DOE/test_bo_aryl_amination/round33.csv
examples/DOE/test_bo_aryl_amination/round34.csv
examples/DOE/test_bo_aryl_amination/round35.csv
examples/DOE/test_bo_aryl_amination/round36.csv
examples/DOE/test_bo_aryl_amination/round37.csv
examples/DOE/test_bo_aryl_amination/round38.csv
examples/DOE/test_bo_aryl_amination/round39.csv
examples/DOE/test_bo_aryl_amination/round4.csv
examples/DOE/test_bo_aryl_amination/round40.csv
examples/DOE/test_bo_aryl_amination/round41.csv
examples/DOE/test_bo_aryl_amination/round42.csv
examples/DOE/test_bo_aryl_amination/round43.csv
examples/DOE/test_bo_aryl_amination/round44.csv
examples/DOE/test_bo_aryl_amination/round45.csv
examples/DOE/test_bo_aryl_amination/round46.csv
examples/DOE/test_bo_aryl_amination/round47.csv
examples/DOE/test_bo_aryl_amination/round48.csv
examples/DOE/test_bo_aryl_amination/round49.csv
examples/DOE/test_bo_aryl_amination/round5.csv
examples/DOE/test_bo_aryl_amination/round6.csv
examples/DOE/test_bo_aryl_amination/round7.csv
examples/DOE/test_bo_aryl_amination/round8.csv
examples/DOE/test_bo_aryl_amination/round9.csv
examples/DOE/test_bo_aryl_amination_worst/init.csv
examples/DOE/test_bo_aryl_amination_worst/round0.csv
examples/DOE/test_bo_aryl_amination_worst/round1.csv
examples/DOE/test_bo_aryl_amination_worst/round10.csv
examples/DOE/test_bo_aryl_amination_worst/round11.csv
examples/DOE/test_bo_aryl_amination_worst/round12.csv
examples/DOE/test_bo_aryl_amination_worst/round13.csv
examples/DOE/test_bo_aryl_amination_worst/round14.csv
examples/DOE/test_bo_aryl_amination_worst/round15.csv
examples/DOE/test_bo_aryl_amination_worst/round16.csv
examples/DOE/test_bo_aryl_amination_worst/round2.csv
examples/DOE/test_bo_aryl_amination_worst/round3.csv
examples/DOE/test_bo_aryl_amination_worst/round4.csv
examples/DOE/test_bo_aryl_amination_worst/round5.csv
examples/DOE/test_bo_aryl_amination_worst/round6.csv
examples/DOE/test_bo_aryl_amination_worst/round7.csv
examples/DOE/test_bo_aryl_amination_worst/round8.csv
examples/DOE/test_bo_aryl_amination_worst/round9.csv
examples/DOE/test_bo_direct_arylation/round25.csv
examples/DOE/test_bo_direct_arylation/round26.csv
examples/DOE/test_bo_direct_arylation/round27.csv
examples/DOE/test_bo_direct_arylation/round28.csv
examples/DOE/test_bo_direct_arylation/round29.csv
examples/DOE/test_bo_direct_arylation/round30.csv
examples/DOE/test_bo_direct_arylation/round31.csv
examples/DOE/test_bo_direct_arylation/round32.csv
examples/DOE/test_bo_direct_arylation/round33.csv
examples/DOE/test_bo_direct_arylation/round34.csv
examples/DOE/test_bo_direct_arylation/round35.csv
examples/DOE/test_bo_direct_arylation/round36.csv
examples/DOE/test_bo_direct_arylation/round37.csv
examples/DOE/test_bo_direct_arylation/round38.csv
examples/DOE/test_bo_direct_arylation/round39.csv
examples/DOE/test_bo_direct_arylation/round4.csv
examples/DOE/test_bo_direct_arylation/round40.csv
examples/DOE/test_bo_direct_arylation/round41.csv
examples/DOE/test_bo_direct_arylation/round42.csv
examples/DOE/test_bo_direct_arylation/round43.csv
examples/DOE/test_bo_direct_arylation/round44.csv
examples/DOE/test_bo_direct_arylation/round45.csv
examples/DOE/test_bo_direct_arylation/round46.csv
examples/DOE/test_bo_direct_arylation/round47.csv
examples/DOE/test_bo_direct_arylation/round48.csv
examples/DOE/test_bo_direct_arylation/round49.csv
examples/DOE/test_bo_direct_arylation_worst/init.csv
examples/DOE/test_bo_direct_arylation_worst/round0.csv
examples/DOE/test_bo_direct_arylation_worst/round1.csv
examples/DOE/test_bo_direct_arylation_worst/round10.csv
examples/DOE/test_bo_direct_arylation_worst/round11.csv
examples/DOE/test_bo_direct_arylation_worst/round12.csv
examples/DOE/test_bo_direct_arylation_worst/round13.csv
examples/DOE/test_bo_direct_arylation_worst/round14.csv
examples/DOE/test_bo_direct_arylation_worst/round15.csv
examples/DOE/test_bo_direct_arylation_worst/round16.csv
examples/DOE/test_bo_direct_arylation_worst/round2.csv
examples/DOE/test_bo_direct_arylation_worst/round3.csv
examples/DOE/test_bo_direct_arylation_worst/round4.csv
examples/DOE/test_bo_direct_arylation_worst/round5.csv
examples/DOE/test_bo_direct_arylation_worst/round6.csv
examples/DOE/test_bo_direct_arylation_worst/round7.csv
examples/DOE/test_bo_direct_arylation_worst/round8.csv
examples/DOE/test_bo_direct_arylation_worst/round9.csv
examples/DOE/test_bo_suzuki/round43.csv
examples/DOE/test_bo_suzuki/round44.csv
examples/DOE/test_bo_suzuki/round45.csv
examples/DOE/test_bo_suzuki/round46.csv
examples/DOE/test_bo_suzuki/round47.csv
examples/DOE/test_bo_suzuki/round48.csv
examples/DOE/test_bo_suzuki/round49.csv
examples/DOE/test_bo_suzuki_worst/init.csv
examples/DOE/test_bo_suzuki_worst/round0.csv
examples/DOE/test_bo_suzuki_worst/round1.csv
examples/DOE/test_bo_suzuki_worst/round10.csv
examples/DOE/test_bo_suzuki_worst/round11.csv
examples/DOE/test_bo_suzuki_worst/round12.csv
examples/DOE/test_bo_suzuki_worst/round13.csv
examples/DOE/test_bo_suzuki_worst/round14.csv
examples/DOE/test_bo_suzuki_worst/round15.csv
examples/DOE/test_bo_suzuki_worst/round16.csv
examples/DOE/test_bo_suzuki_worst/round2.csv
examples/DOE/test_bo_suzuki_worst/round3.csv
examples/DOE/test_bo_suzuki_worst/round4.csv
examples/DOE/test_bo_suzuki_worst/round5.csv
examples/DOE/test_bo_suzuki_worst/round6.csv
examples/DOE/test_bo_suzuki_worst/round7.csv
examples/DOE/test_bo_suzuki_worst/round8.csv
examples/DOE/test_bo_suzuki_worst/round9.csv
examples/DOE/test_bo_direct_arylation/init.csv
examples/DOE/test_bo_direct_arylation/round0.csv
examples/DOE/test_bo_direct_arylation/round1.csv
examples/DOE/test_bo_direct_arylation/round10.csv
examples/DOE/test_bo_direct_arylation/round11.csv
examples/DOE/test_bo_direct_arylation/round12.csv
examples/DOE/test_bo_direct_arylation/round13.csv
examples/DOE/test_bo_direct_arylation/round14.csv
examples/DOE/test_bo_direct_arylation/round15.csv
examples/DOE/test_bo_direct_arylation/round16.csv
examples/DOE/test_bo_direct_arylation/round17.csv
examples/DOE/test_bo_direct_arylation/round18.csv
examples/DOE/test_bo_direct_arylation/round19.csv
examples/DOE/test_bo_direct_arylation/round2.csv
examples/DOE/test_bo_direct_arylation/round20.csv
examples/DOE/test_bo_direct_arylation/round21.csv
examples/DOE/test_bo_direct_arylation/round22.csv
examples/DOE/test_bo_direct_arylation/round23.csv
examples/DOE/test_bo_direct_arylation/round24.csv
examples/DOE/test_bo_direct_arylation/round3.csv
examples/DOE/test_bo_direct_arylation/round4.csv
examples/DOE/test_bo_direct_arylation/round5.csv
examples/DOE/test_bo_direct_arylation/round6.csv
examples/DOE/test_bo_direct_arylation/round7.csv
examples/DOE/test_bo_direct_arylation/round8.csv
examples/DOE/test_bo_direct_arylation/round9.csv
examples/DOE/test_bo_suzuki/init.csv
examples/DOE/test_bo_suzuki/round0.csv
examples/DOE/test_bo_suzuki/round1.csv
examples/DOE/test_bo_suzuki/round10.csv
examples/DOE/test_bo_suzuki/round11.csv
examples/DOE/test_bo_suzuki/round12.csv
examples/DOE/test_bo_suzuki/round13.csv
examples/DOE/test_bo_suzuki/round14.csv
examples/DOE/test_bo_suzuki/round15.csv
examples/DOE/test_bo_suzuki/round16.csv
examples/DOE/test_bo_suzuki/round17.csv
examples/DOE/test_bo_suzuki/round18.csv
examples/DOE/test_bo_suzuki/round19.csv
examples/DOE/test_bo_suzuki/round2.csv
examples/DOE/test_bo_suzuki/round20.csv
examples/DOE/test_bo_suzuki/round21.csv
examples/DOE/test_bo_suzuki/round22.csv
examples/DOE/test_bo_suzuki/round23.csv
examples/DOE/test_bo_suzuki/round24.csv
examples/DOE/test_bo_suzuki/round25.csv
examples/DOE/test_bo_suzuki/round26.csv
examples/DOE/test_bo_suzuki/round27.csv
examples/DOE/test_bo_suzuki/round28.csv
examples/DOE/test_bo_suzuki/round29.csv
examples/DOE/test_bo_suzuki/round3.csv
examples/DOE/test_bo_suzuki/round30.csv
examples/DOE/test_bo_suzuki/round31.csv
examples/DOE/test_bo_suzuki/round32.csv
examples/DOE/test_bo_suzuki/round33.csv
examples/DOE/test_bo_suzuki/round34.csv
examples/DOE/test_bo_suzuki/round35.csv
examples/DOE/test_bo_suzuki/round36.csv
examples/DOE/test_bo_suzuki/round37.csv
examples/DOE/test_bo_suzuki/round38.csv
examples/DOE/test_bo_suzuki/round39.csv
examples/DOE/test_bo_suzuki/round4.csv
examples/DOE/test_bo_suzuki/round40.csv
examples/DOE/test_bo_suzuki/round41.csv
examples/DOE/test_bo_suzuki/round42.csv
examples/DOE/test_bo_suzuki/round43.csv
examples/DOE/test_bo_suzuki/round44.csv
examples/DOE/test_bo_suzuki/round45.csv
examples/DOE/test_bo_suzuki/round46.csv
examples/DOE/test_bo_suzuki/round47.csv
examples/DOE/test_bo_suzuki/round5.csv
examples/DOE/test_bo_suzuki/round6.csv
examples/DOE/test_bo_suzuki/round7.csv
examples/DOE/test_bo_suzuki/round8.csv
examples/DOE/test_bo_suzuki/round9.csv
examples/DOE/test_bo_direct_arylation/round9.csv
examples/DOE/test_bo_direct_arylation/round8.csv
examples/DOE/test_bo_direct_arylation/round7.csv
examples/DOE/test_bo_direct_arylation/round6.csv
examples/DOE/test_bo_direct_arylation/round5.csv
examples/DOE/test_bo_direct_arylation/round49.csv
examples/DOE/test_bo_direct_arylation/round48.csv
examples/DOE/test_bo_direct_arylation/round47.csv
examples/DOE/test_bo_direct_arylation/round46.csv
examples/DOE/test_bo_direct_arylation/round45.csv
examples/DOE/test_bo_direct_arylation/round44.csv
examples/DOE/test_bo_direct_arylation/round43.csv
examples/DOE/test_bo_direct_arylation/round42.csv
examples/DOE/test_bo_direct_arylation/round41.csv
examples/DOE/test_bo_direct_arylation/round40.csv
examples/DOE/test_bo_direct_arylation/round4.csv
examples/DOE/test_bo_direct_arylation/round39.csv
examples/DOE/test_bo_direct_arylation/round38.csv
examples/DOE/test_bo_direct_arylation/round37.csv
examples/DOE/test_bo_direct_arylation/round36.csv
examples/DOE/test_bo_direct_arylation/round35.csv
examples/DOE/test_bo_direct_arylation/round34.csv
examples/DOE/test_bo_direct_arylation/round33.csv
examples/DOE/test_bo_direct_arylation/round32.csv
examples/DOE/test_bo_direct_arylation/round31.csv
examples/DOE/test_bo_direct_arylation/round30.csv
examples/DOE/test_bo_direct_arylation/round3.csv
examples/DOE/test_bo_direct_arylation/round29.csv
examples/DOE/test_bo_direct_arylation/round28.csv
examples/DOE/test_bo_direct_arylation/round27.csv
examples/DOE/test_bo_direct_arylation/round26.csv
examples/DOE/test_bo_direct_arylation/round25.csv
examples/DOE/test_bo_direct_arylation/round24.csv
examples/DOE/test_bo_direct_arylation/round23.csv
examples/DOE/test_bo_direct_arylation/round22.csv
examples/DOE/test_bo_direct_arylation/round21.csv
examples/DOE/test_bo_direct_arylation/round20.csv
examples/DOE/test_bo_direct_arylation/round2.csv
examples/DOE/test_bo_direct_arylation/round19.csv
examples/DOE/test_bo_direct_arylation/round18.csv
examples/DOE/test_bo_direct_arylation/round17.csv
examples/DOE/test_bo_direct_arylation/round16.csv
examples/DOE/test_bo_direct_arylation/round15.csv
examples/DOE/test_bo_direct_arylation/round14.csv
examples/DOE/test_bo_direct_arylation/round13.csv
examples/DOE/test_bo_direct_arylation/round12.csv
examples/DOE/test_bo_direct_arylation/round11.csv
examples/DOE/test_bo_direct_arylation/round10.csv
examples/DOE/test_bo_direct_arylation/round1.csv
examples/DOE/test_bo_direct_arylation/round0.csv
examples/DOE/test_bo_direct_arylation/init.csv
harvard-clean-energy/moldata.csv
